<style>
  .center {
    margin: auto;
    margin-top: 100px;
    text-align: center;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  </style>

<div class="center">
  <h1>Click on the button to open the dialog box</h1>
  <input (click)="onOpenDialog()" type="button" class="button" value="Open Dialog">
</div>